*{
    margin: 0;
    padding: 0;
}

/* Les fonts */
@font-face {
    font-family: 'beyno';
    src: url('fonts/beyno/');
    src: url('fonts/beyno/?#iefix') format('embedded-opentype'),
         url('fonts/beyno/beyno-webfont.woff2') format('woff2'),
         url('fonts/beyno/beyno-webfont.woff') format('woff'),
         url('fonts/beyno/beyno-webfont.ttf') format('truetype'),
         url('fonts/beyno/beyno-webfont.svg#beynoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'panthera';
    src: url('fonts/black-panther/');
    src: url('fonts/black-panther/?#iefix') format('embedded-opentype'),
         url('fonts/black-panther/pantheraregular-mvz9j-webfont.woff2') format('woff2'),
         url('fonts/black-panther/pantheraregular-mvz9j-webfont.woff') format('woff'),
         url('fonts/black-panther/pantheraregular-mvz9j-webfont.ttf') format('truetype'),
         url('fonts/black-panther/pantheraregular-mvz9j-webfont.svg#pantheraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cantarell';
    src: url('fonts/cantarell/');
    src: url('fonts/cantarell/?#iefix') format('embedded-opentype'),
         url('fonts/cantarell/cantarell-regular-webfont.woff2') format('woff2'),
         url('fonts/cantarell/cantarell-regular-webfont.woff') format('woff'),
         url('fonts/cantarell/cantarell-regular-webfont.ttf') format('truetype'),
         url('fonts/cantarell/cantarell-regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wakanda_forever';
    src: url('fonts/wakanda_forever/');
    src: url('fonts/wakanda_forever/?#iefix') format('embedded-opentype'),
         url('fonts/wakanda_forever/wakandaforever-regular-webfont.woff2') format('woff2'),
         url('fonts/wakanda_forever/wakandaforever-regular-webfont.woff') format('woff'),
         url('fonts/wakanda_forever/wakandaforever-regular-webfont.ttf') format('truetype'),
         url('fonts/wakanda_forever/wakandaforever-regular-webfont.svg#wakanda_foreverregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

:root {
    --rose1: #F2CEF2;
    --viollet1: #9E91B7;
    --rose2: #DF99F2;
    --viollet2: #3D2DA6;
    --bleue: #07338C;
    --bleue2: #021740;
}

h1 {
    font-family: "panthera";
    font-size: 50px;
    color: var(--viollet1);
    top: 0;
}

h2 {
    font-family: "beyno";
    color: var(--viollet1);
    line-height: 40px;
    margin-bottom: 20px;
}

h3 {
    font-family: "beyno";
    color: var(--viollet1);
    line-height: 40px;
}

p {
    font-family: "cantarell";
    font-size: 0.7em;
    color: #FFFFFF;
    margin-bottom: 10px;
}

nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 2% auto;
}

nav .nav-logo img{
    width: 100px;
    height: auto;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    margin: 10px;
    color: white;
}

.nav-links a, .nav-links a:visited{
    font-family: "beyno";
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links ul li .active{
    text-decoration: underline;
    color: var(--viollet1);
}

/* Mettre le même background à toutes les pages */
body{
    background: radial-gradient(126.67% 350.28% at -21.35% 0%,#11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%);
}

/* Les icons statiques sur le côté */
.statics {
    position: sticky;
    top: 0px;
    margin-top: -150px;
    margin-left: 20px;
    writing-mode: vertical-lr;
    overflow: hidden;
    height: 350px;
}

.icons-statics{
    margin-top: 10px;
    margin-left: 10px;
    height: 340px;
    text-align: end;
}

.icons-statics img{
    width: 20px;
    margin-top: 10px;
}

#hr1 {
    border: 2px solid var(--viollet1);
}

#hr2 {
    color: var(--viollet1);
    border: 2px solid var(--viollet1);
    margin-top: -10px;
    margin-left: 8px;
    float: left;
    height: 60%;
}

/* Les class hero dans les différentes pages */
.hero-accueil {
    background-image: url("illustrations + logo/Accueil/Pantherhome1..png");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: -220px;
}

.hero-accueil a,.slider a{
    color: #ffffff;
    font-size: 0.7em;
    font-family: "cantarell";
}

.hero-wakanda {
    width: 100%;
    background-image: url("illustrations + logo/Wakanda/Pantherwakanda1.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.hero-enigme {
    width: 90%;
    background-image: url("illustrations + logo/Enigme/Pantherenigme1.png");
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
    margin-top: -100px;
}

.div-hero {
    width: 30%;
    height: auto;
    color: white;
    padding-left: 13%;
    padding-top: 10%;
}

.div-hero-enigme {
    float: right;
    width: 35%;
    height: auto;
    color: white;
    padding-top: 25%;
}

.div-hero-enigme h1{
    font-family: "beyno";
    color: var(--viollet1);
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-align: justify;
}

/* La partie slider */
.slider {
    width: 90%;
    display: flex;
    margin-left: 10%;
    background-color: var(--bleue2);
}

.slider-text{
    margin-top: 20px;
    padding: 1em;
}


#killmonger{
    position: relative;
    margin-bottom: -70px;
    align-items: center;
}

#killmonger img{
    width: auto;   
    height: 20em;
    margin-top: -2em;
    margin-left: 1.5em;
}

.slider-img{
    width: auto;
    height: 250px;
}

/* La petite flèche pour le slider */
#fleche {
    width: 200px;
    position: absolute;
    right: -80px;
    top: 570px;
}

.bio {
    display: grid;
    width: 80%;
    margin: 10% auto;
    grid-template-columns: 2fr 1fr;
    gap: 10%;
}

.bio-gauche{
    text-align: justify;
}

.bio-droite div{
    background-color: white;
    font-family: "cantarell";
    border-radius: 5px;
    text-align: justify;
    width: 270px;
    height: 480px;
    padding: 50px;
    margin-top: 150px;
}

.bio-droite label{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}

#bio-photo1 {
    width: 300px;
    height: auto;
    float: inline-start;
    position: relative;
    margin-top: -230px;
    left: -15px;
}

.bio-droite p{
    color: var(--bleue2);
    line-height: 12px;
}

.bio-droite span{
    font-weight: bold;
}

.bio-droite button{
    display: inline-flex;
    margin-left: 1.2em;
    font-size: 10px;
    padding: 5px;
    margin-bottom: 20px;
    color: white;
    background-color: var(--viollet2);
    border-radius: 4px;
}

#bio-photo2 {
    width: 300px;
    height: auto;
    margin: 3em 0em 0em 3em;
}

/* La section contact */
.contact {
    height: 700px;
    background-image: url('Illustrations + Logo/Accueil/Pantherhome7.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact form{
    width: 30%;
    height: auto;
    padding: 1em 7em 1em 7em;
    margin: 0 auto;
    display: block;
    justify-content: center;
    background-color: rgba(250, 250, 250, 0.719);
    border-radius: 100px;
    position: relative;
    top: 100px;
}

.contact form p{
    color: black;
    text-align: center;
}
.contact form p+p{
    font-size: 30px;
    font-weight: bold;
}

.contact form input,button,textarea{
    display: block;
    line-height: 30px;
    margin: 0 auto;
}

.contact form input,textarea{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 40px;
    padding: 1em;
    border: 1px solid black;
}

.contact form button{
    border-radius: 10px;
    width: 100px;
}

/* Le footer */
footer {
    width: 90%;
    padding: 7em;
    background-image: url('Illustrations + Logo/All\ pages/back_footer.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-image #bulle-footer {
    width: 200px;
}

.footer-image #logo-footer {
    width: 100px;
    position: relative;
    top: -120px;
    left: -150px;
}

.card-footer {
    display: grid;
    grid-template-areas:
          ". . footer-image footer-links footer-socials"
          ". . footer-image footer-text footer-text";
    gap: 10px;
}

.footer-image {
    grid-area: footer-image;
}

.footer-links {
    grid-area: footer-links;
    color: white;
}

.footer-links ul{
    list-style: none;
    margin-top: 20px;
}

.footer-links ul li{
    line-height: 25px;
    font-family: "cantarell";
    cursor: pointer;
}

.footer-socials {
    grid-area: footer-socials;
}

.footer-text {
    grid-area: footer-text;
}